/*Общие стили*/

h1, h2, h3, h4, h5, h6 {
    font-family: AstrogorHeader;
    letter-spacing: -1px;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 32px;
    line-height: 38px;
}

h3 {
    font-size: 28px;
    line-height: 32px;
}

.text-header {
    font-family: AstrogorHeader;
    font-size: 18px;
    color: #6E69EB;
    margin-top: 20px;
    line-height: 28px;
}

a {
    color: #6356F8;
}

a:hover, a:visited {
    color: #0B143D;
}

* {
    font-family: AstrogorText;
}

body {
    margin: 0;
    font-size: 18px;
    background-color: #FCFBFB;
}

.spacer-h {
    width: 8px;
    min-width: 8px;
    padding: 0 6px;
}

/* Кнопки */

.btn {
    border-radius: 8px;
    border: 1px solid #6E69EB;
    padding: 12px 24px;
    background-color: #6E69EB;
    color: white;
    -webkit-appearance: none;
    font-size: 18px;
    margin: 0;
}

.btn:hover {
    background-color: #6356F8;
    border: 1px solid #6356F8;
    cursor: pointer;
}

/*Логотип*/

a.logo {
    display: inline;
    padding: 0;
}

a.logo img {
    float: left;
    height: 80%;
    margin: 4px 20px;
    display: inline-block;
}

/*Заголовочная плашка с меню*/

#main-header {
    height: 64px;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

#main-header span {
    float: right;
    padding: 20px 20px;

}

#main-header span a {
    text-decoration: none;
    padding: 0;
    color: black;
}

#main-header span a:hover {
    color: #6356F8;
}

#main-header .phone a {
    color: #6E69EB;
}

#main-header .phone a:hover {
    color: black;
}

/*Основной контейнер, внутри которого всё лежит*/

.main-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 8px;
    min-height: 98%;
}

/*Футер сайта*/

#main-footer {
    font-size: 12px;
    background-color: rgba(0, 20, 69, 1);
    color: white;
    padding: 16px;
}

#main-footer a {
    color: white;
    display: block;
    text-decoration: none;
    padding-left: 8px;
    padding-bottom: 4px;
}

#main-footer a:hover {
    color: #6E69EB;
}

#main-footer div.links {
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
}

#main-footer .main-footer-column {
    display: inline-block;
    padding: 0 0 16px;
    width: 24%;
    vertical-align: top;
}

#main-footer .header a {
    font-family: AstrogorHeader;
    padding-bottom: 8px;
    font-size: 14px;
}

#main-footer div.copyright {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 16px 0 8px;
}

/*Общие стили для генерируемых на всю ширину картинок*/
.full-img img {
    width: 100%;
    height: auto;
}

/*Общие стили для текста*/
.signature {
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    color: #696969;
}

.text {
    font-family: AstrogorText;
    line-height: 28px;
}

.text p {
    margin-top: 12px;
    margin-bottom: 0;
    line-height: 28px;
}

.img {
    background: #FCFBFB;
    border: 1px solid #D6D6D8;
    border-radius: 8px;
    padding: 24px 38px;
}

.label {
    padding-top: 18px;
    color: #696969;
    font-size: 14px;
}

.caption {
    color: #6E69EB;
    padding: 12px 24px;
}

.caption.right {
    padding-left: 40px;
}

/*Плашки с контентом*/
.plate-base {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.plate-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.plate-inner.not-first {
    margin-top: 40px;
}

.plate-inner .w50 {
    width: 50%;
}

.plate-inner .w70 {
    width: 70%;
}

.plate-inner .w75 {
    width: 75%;
}

.plate-inner .w30 {
    width: 30%;
}

.plate-inner .w25 {
    width: 25%;
}

.plate-base .left {
    padding: 0 24px 0 0;
}

.plate-base .right {
    padding: 0 0 0 24px;
}

.inner-block {
    border-radius: 12px;
    border: 1px solid #F0F0F0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
    margin-right: 24px;
}

.inner-block .text-header {
    height: 60px;
}

.inner-block .action  {
    display: block;
}

.plate {
    background-color: white;
    border-radius: 12px;
    border: 1px solid #F0F0F0;
    padding: 32px;
    margin: 10px;
}

.plate img {
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
}

.plate h1, .plate h2, .plate h3 {
    margin-top: 0;
}

.plate.w100 {
    width: 100%;
}

.plate.w50 {
    width: 42%;
}

.plate.slogan {
    background-color: #6E69EB;
    color: white;
    font-size: 28px;
}

.plate.slogan .signature {
    text-align: right;
    font-size: 18px;
    padding-top: 12px;
    color: white;
}

.plate.dark {
    background-color: #0B143D;
    color: white;
}

.plate.dark .btn {
    border: 1px solid #0B143D;
}

.plate .action {
    margin-top: 40px;
}

.plate .action a {
    text-decoration: none;
    padding: 0;
}

/*Мобильная версия*/

@media (max-width: 1000px) {
    #main-header span {
        display: none;
    }

    #main-header span.phone {
        display: inline-block;
    }

    /*Футер*/
    #main-footer .main-footer-column {
        width: 100%;
    }

    /*Заголовки*/
    h1 {
        margin-top: 0;
    }

    /*Плашки*/
    .plate .w50 {
        width: 100%;
    }

    .plate {
        margin: 5px 0;
    }

    .plate-base {
        margin: 0;
        flex-direction: column;
    }

    .plate-inner {
        flex-direction: column;
    }

    .plate-inner.not-first {
        margin-top: 0;
    }

    .plate-base .left {
        padding: 0;
    }

    .plate-base .right {
        padding: 0;
    }

    .plate-base .caption {
        padding: 12px 0;
        display: block;
    }

    .plate-inner .w50, .plate-inner .w70, .plate-inner .w75, .plate-inner .w30, .plate-inner .w25 {
        width: 100%;
        padding-top: 40px;
    }

    .plate.w100, .plate.w50 {
        width: 82%;
    }

    .plate-inner .inner-block {
        padding-top: 0;
        margin-top: 10px;
        width: 90%;
    }

    .plate-inner .inner-block .text-header {
        height: unset;
    }

    .plate.slogan {
        font-size: 22px;
    }
}



