/*Общие стили*/

h1, h2, h3, h4, h5, h6 {
    font-family: MontserratMedium;
    line-height: 1em;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

* {
    font-family: MontserratLight;
}

body {
    margin: 0;
    font-size: 18px;
}

.spacer-h {
    width: 8px;
    min-width: 8px;
    padding: 0 6px;
}

/*Логотип*/

a.logo {
    display: inline;
    padding: 0;
}

a.logo img {
    float: left;
    margin: 32px 32px 16px 16px;
    width: 5%;
}

/*Основной контейнер, внутри которого всё лежит*/

.main-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 8px;
    min-height: 98%;
}

/*Футер сайта*/

#main-footer {
    font-size: 12px;
    background-color: rgba(0, 20, 69, 1);
    color: white;
    padding: 16px;
}

#main-footer a {
    color: white;
    display: block;
    text-decoration: none;
    padding-left: 8px;
    padding-bottom: 4px;
}

#main-footer a:hover {
    font-family: MontserratMedium;
}

#main-footer div.links {
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
}

#main-footer .main-footer-column {
    display:inline-block;
    padding: 0 0 16px;
    width: 24%;
    vertical-align: top;
}

#main-footer .header {
    font-family: MontserratMedium;
    padding-bottom: 8px;
    font-size: 14px;
}

#main-footer div.copyright {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 16px 0 8px;
}

/*Общие стили для всех форм*/

form .form-header {
    font-family: MontserratMedium;
    margin: 8px 0;
}

form .form-field {
    display:inline-block;
    padding: 0 0 16px;
    width: 30%;
}

form .label {
    margin-right: 16px;
}

form .txt {
    margin-right: 32px;
    border: 1px solid #FFB800;
    border-radius: 8px;
    padding: 4px 8px 4px;
}

form .txt:focus {
    outline: none;
    box-shadow: 0 0 10px #FFB800;
}

form .sbm {
    border: 1px solid #0B143D;
    border-radius: 8px;
    padding: 4px 8px 4px;
    background-color: #0B143D;
    color: white;
    margin: 8px 16px 4px 0;
    -webkit-appearance: none;
}

form .sbm:hover {
    background-color: rgba(0, 20, 69, 0.85);
    border: 1px solid rgba(0, 20, 69, 0.85);
    cursor: pointer;
}

form input {
    font-size: 18px;
}

form .chk {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

form .chk+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

form .chk+label:focus {
    outline: none;
}

form .chk+label:focus::before {
    box-shadow: 0 0 10px #FFB800;
}

form .chk+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #FFB800;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

form .chk:checked+label::before {
  border-color: #FFB800;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23FFB800' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

form .chk:not(:disabled):not(:checked)+label:hover::before {
  border-color: #FFB800;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
form .chk:not(:disabled):active+label::before {
  border-color: #FFB800;
}
/* стили для чекбокса, находящегося в фокусе */
form .chk:focus+label::before {
  box-shadow: 0 0 10px #FFB800;
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
form .chk:focus:not(:checked)+label::before {
  border-color: #FFB800;
}
/* стили для чекбокса, находящегося в состоянии disabled */
form .chk:disabled+label::before {
  background-color: #e9ecef;
}

/* Стили для ссылок */
a {
    cursor: pointer;
    color: #0B143D;
    padding: 4px 8px;
    display: inline-block;
}

/*Общие стили для генерируемых на всю ширину картинок*/
.full-img img {
    width: 100%;
    height: auto;
}

/*Мобильная версия*/

@media (max-width: 1100px) {
    /*Формы*/

    form .form-header {
        margin-bottom: 6px;
    }
    form .form-field {
        width: 100%;
        padding: 0 0 8px;
        display:block;
    }
    form .txt {
        margin-right: 0;
    }
    form .label {
        display: block;
        float: left;
        width: 80px;
        height: 15px;
    }

    /*Футер*/

    #main-footer .main-footer-column {
        width: 100%;
    }

    /*Заголовки*/
    h1 {
        margin-top: 0;
    }
}

@media (max-width: 1400px) {
    /*Лого*/

    .logo img {
        display: none;
    }
}



