.download {
    text-align: right;
    margin: 0 0 0 16px;
}

a.control {
    border: 1px solid #FFB800;
    border-radius: 8px;
    background-color: #FFB800;
    color: black;
    padding: 4px 8px;
    margin: 0 4px;
    text-decoration: none;
}