.download {
    text-align: right;
    margin: 0 0 0 16px;
}

a.control {
    border: 1px solid #FFB800;
    border-radius: 8px;
    background-color: #FFB800;
    color: black;
    padding: 4px 8px;
    margin: 0 4px;
    text-decoration: none;
}

.nearest-connection {
    display:inline-block;
    width: 22%;
}

.nearest-connection a:hover {
    text-decoration: underline;
}

.nearest-connection img {
    max-height:22px;
    vertical-align: middle;
}

.nearest-connection a {
    text-decoration: none;
}

.plate img {
    width: unset;
}

div.full-img img {
    width: 100%;
}

@media (max-width: 1100px) {

    .nearest-connection {
        width: 100%;
        padding: 0 0 8px;
        display: block;
    }
}