<!--Блок про Сан Саныча-->
<div class="plate-base">
    <div class="plate w100">
        <h1>Преподаватель</h1>
        <div class="plate-inner">
            <div class="left w50">
                <p><img src="{{ url_for('static', filename='pic/astrogor_teacher.png') }}"/></p>
            </div>
            <div class="right w50">
                <h4>Астрогор Александр Александрович</h4>
                <div class="text">
                    <p>Руководитель Школы русской астрологии «Волхвы». Член Содружества Профессиональных Астрологов
                        России.</p>
                    <p>Разработал аналитическую методику оценки потенциала личности и событий «Формула Души»,
                        в основе которой авторская система толкований цепочек астрологических планетарных
                        диспозиторов по владению. Обучил своей методике тысячи человек.</p>
                    <p>Автор 18 книг.</p>
                </div>
            </div>
        </div>
    </div>
</div>