<!--Блок про книги-->
<div class="plate-base">
    <div class="plate w100">
        <h1>Книги</h1>
        <p>Все эти книги есть в книжных магазинах, а также доступны для покупки в Интернете.</p>
        <div class="plate-inner">
            <div class="left w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/books/book1.png') }}"/>
                </div>
                <div class="text">
                    <h4>Формула души. Новейшая космическая психология</h4>
                </div>
            </div>
            <div class="left w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/books/book2.png') }}"/>
                </div>
                <div class="text">
                    <h4>Цветной альбом. Астрология в схемах и таблицах</h4>
                </div>
            </div>
            <div class="left w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/books/book3.png') }}"/>
                </div>
                <div class="text">
                    <h4>Ирония судьбы российских правителей</h4>
                </div>
            </div>
            <div class="w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/books/book4.png') }}"/>
                </div>
                <div class="text">
                    <h4>Кармическая медицина. Исповедь болячки</h4>
                </div>
            </div>
        </div>
        <div class="action">
            <a href="/books">
                <button class="btn">Все книги</button>
            </a>
        </div>
    </div>
</div>