<!--Блок с дополнительными курсами и направлениями-->
<div class="plate-base">
    <div class="plate w100">
        <a href="/others">
            <button class="btn corner">Все представители</button>
        </a>
        <h1>Рекомендуем</h1>
        <div class="plate-inner">
            <div class="left w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/others/shishkin.png') }}"/>
                </div>
                <div class="text">
                    <h4>Иван Шишкин</h4>
                    <p>Авторский метод МАК-терапии, г. Москва</p>
                </div>
            </div>
            <div class="left w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/others/denisenko.png') }}"/>
                </div>
                <div class="text">
                    <h4>Николай Денисенко</h4>
                    <p>Руководитель Школы Астропсихологии в г. Пенза</p>
                </div>
            </div>
            <div class="left w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/others/shtern.png') }}"/>
                </div>
                <div class="text">
                    <h4>Катарина Штерн</h4>
                    <p>Дипломированный астролог, хиромант, астропсихолог в Германии</p>
                </div>
            </div>
            <div class="w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/others/startseva.png') }}"/>
                </div>
                <div class="text">
                    <h4>Светлана Старцева</h4>
                    <p>Курс по методу «Формула Души» в г. Санкт-Петербурге
                        и в г. Нижнем Новгороде</p>
                </div>
            </div>
        </div>
    </div>
</div>