<!--Блок про софт-->
<div class="plate-base">
    <div class="plate w100">
        <h1>Астрологические программы</h1>
        <div class="plate-inner">
            <div class="w50">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/soft/astrofd.jpg') }}" class="w100"/>
                </div>
                <div class="text">
                    <h4>AstroFD</h4>
                    <p>Программа AstroFD является мощным аналитическим инструментом, помогающим человеку увидеть
                        и раскрыть возможности, присущие ему с рождения; наглядно увидеть, как реализуется
                        потенциал, заложенный в данной формуле.</p>
                </div>
                <div class="action">
                    <a href="https://astrofd.ru">
                        <button class="btn">На сайт AstroFD</button>
                    </a>
                </div>
            </div>
            <div class="right w50">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/soft/zet.png') }}" class="w100"/>
                </div>
                <div class="text">
                    <h4>Астропроцессор ZET</h4>
                    <p>ZET — это универсальная астрологическая программа, мощный инструмент для профессионального
                        астролога, лёгкий в изучении и удобный в применении для начинающего астролога,
                        любителя астрологии и астрономии.</p>
                </div>
                <div class="action">
                    <a href="http://astrozet.net">
                        <button class="btn">На сайт ZET</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>