<!--Блок с видео-->
<div class="plate-base">
    <div class="plate w100">
        <a href="/videos">
            <button class="btn corner">Все видео</button>
        </a>
        <h1>Видео</h1>
        <div class="plate-inner">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/a9Nofhlsgk4"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/aAlQJe5Be4M"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/Ov4Kj3lkb0c"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>