<html>
<head>
    <title>Сайт школы русской астрологии «Волхвы»</title>
    <meta name="description" content="Школа Русской Астрологии Волхвы. Метод Александра Астрогора Формула Души"/>
    <meta name="author" lang="ru" content="Александр Астрогор"/>
    <meta name="copyright" lang="ru" content="c 2021, Александр Астрогор"/>
    <meta name="Document-state" content="Dynamic"/>
    <meta name="Revisit" content="7"/>
    <meta name="Robots" content="INDEX,FOLLOW"/>
    <meta name="viewport" content="width=device-width; initial-scale=1">

    <!-- Для Я.Вебмастера -->
    <meta name="yandex-verification" content="7b209a8eb51f6d27" />

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(87738487, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/87738487" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" type="image/x-icon"/>
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon/apple-icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css"/>
    <style>@font-face {
        font-family: AstrogorText;
        src: url("{{ url_for('static', filename='fonts/Montserrat-Regular.ttf')}}") format("truetype");
    }</style>
    <style>@font-face {
        font-family: AstrogorHeader;
        src: url("{{ url_for('static', filename='fonts/Montserrat-Medium.ttf')}}") format("truetype");
    }</style>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="main-header">
    <a href="/" class="logo" tabindex="-1"><img src="{{ url_for('static', filename='pic/logo_andrey_small.png') }}" tabindex="-1"/></a>
    <span class="phone"><a href="/contacts">+7 (916) 147-9-147</a></span>
    <span><a href="/astro">Астрологам</a></span>
    <span><a href="/consultations">Консультации</a></span>
    <span><a href="/edu">Обучение</a></span>
    <span><a href="/card">Формула души</a></span>
    {% block header %}
    {% endblock %}
</div>
<div class="main-container">
{% block body %}
{% endblock %}
</div>
<div id="main-footer">
    <div class="links">
        <div class="main-footer-column">
            <div class="header"><a href="/edu">Обучение</a></div>
            <a href="/courses/fd">Формула Души</a>
            <a href="/courses/astro">Классическая астрология</a>
            <a href="/courses/karma">Кармическая медицина</a>
            <a href="/courses/palmistry">Хиромантия</a>
            <a href="/books">Книги</a>
            <a href="/videos">Видео</a>
            <a href="/others">Рекомендуем</a>
        </div>
        <div class="main-footer-column">
            <div class="header"><a href="/consultations">Консультации</a></div>
            <a href="/consultations#astrogor">Александр Астрогор</a>
            <a href="/consultations#klimantov">Евгений Климантов</a>
        </div>
        <div class="main-footer-column">
            <div class="header"><a href="/astro">Астрологам</a></div>
            <a href="/card">Формула Души</a>
            <a href="/transit">Транзиты</a>
            <a href="/astro#downloads">Материалы для скачивания</a>
            <a href="/astro#soft">Компьютерные программы</a>
        </div>
        <div class="main-footer-column">
            <div class="header"><a href="/news">Новости</a></div>
<!--            <div class="header"><a href="/blog">Блог</a></div>-->
            <div class="header"><a href="/contacts">Контакты</a></div>
        </div>

    </div>
    <div class="copyright">© Александр Астрогор, 2021–2023</div>
</div>
</body>
</html>