{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}" type="text/css"/>
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}

<h1>Космограмма и Формула Души</h1>
<form action="/card" method="get">
    <div class="form-field">
        <label for="birthday">Дата</label>
        <input type="text" placeholder="01.01.2000 12:00" name="birthday" id="birthday" value="{{birthday}}" size="16"/>
    </div>
    <div class="form-field">
        <label for="city">Город</label><input type="text" name="city" id="city" value="{{city}}" size="16"/>
    </div>
    <div class="form-field">
        <label for="fio">Имя</label><input type="text" name="fio" id="fio" value="{{fio}}" size="16"/>
    </div>

    <div class="form-field">
        {% if age_in_years %}
            <input type="checkbox" name="age-in-years" id="age-in-years" checked="checked"/>
        {% else %}
            <input type="checkbox" name="age-in-years" id="age-in-years"/>
        {% endif %}
        <label for="age-in-years" id="age-in-years-label">Годы вместо дней</label>
    </div>
    <div>
        <input type="submit" value="Построить!">
        <a href="/card">Сбросить</a>
    </div>
</form>
<div class="download">
    <a href="{{download_link}}" download="{{out_file_name}}">PDF</a>
</div>

<div class="full-img">
    <img src="data:image/gif;base64,{{img_as_base64}}"/>
</div>

{% endblock %}