{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="Keywords" content="астрогор, астрология, обучение, душа, консультации"/>
<style>

</style>
{% endblock %}
{% block body %}

<!--Блок с цитатой-->
<div class="plate-base">
    <div class="plate w100 slogan">
        <div class="text"><p>Астрология — это музыка для души, свет для ума и праздник
            для сердца!</p></div>
        <div class="signature">Астрогор А.А.</div>
    </div>
</div>

<!--Хлебные крошки-->
<div class="plate-base">
    <div class="bread-crumbs w100">
        <span><a href="/new">Главная</a></span>
        <span class="separator"> / </span>
        <span>Консультации</span>
    </div>
</div>

<!--Астрогор-->
<div class="plate-base">
    <div class="plate w100">
        <a id="astrogor"></a>
        <h1>Александр Александрович Астрогор</h1>
        <div class="plate-inner not-first">
            <div class="left w25">
                <img src="{{ url_for('static', filename='pic/contacts/astrogor.png') }}"/>
            </div>
            <div class="right w75 adm">
                <p>Астролог, астропсихолог, писатель. Автор метода «Формула Души»</p>
                <div class="contacts">
                    <span class="no-img">+7 (957) 098-87-87,</span>
                    <span class="no-img">astrogor49@mail.ru</span>
                </div>
                <div class="contacts">
                    <span>
                        <a href="https://wa.me/79570988787" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/WhatsApp.png') }}"/>
                        </a>
                    </span>
                    <span>
                        <a href="skype:astrogor4949?chat" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/Skype.png') }}"/>
                        </a>
                    </span>
                    <span>
                        <a href="https://vk.com/aleksandrastrogor" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/Vk.png') }}"/>
                        </a>
                    </span>
                    <span>
                        <a href="https://www.youtube.com/channel/UCEIG5UTdr54mqkB8D2TJf_A" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/YouTube.png') }}"/>
                        </a>
                    </span>
                </div>
                <div class="text">
                    <p>По собственному определению: человек, говорящий языком звёзд.</p>
                    <p>Руководитель школы русской астрологии «Волхвы».
                        Член Содружества Профессиональных Астрологов России.</p>
                    <p>Преподаватель Открытой Славянской Академии по предметам: «Классическая астрология»,
                        «Кармическая Медицина», «Формула Души».</p>
                    <p>Начиная с первой половины 80-х гг становится астрологом-консультантом,
                        исследователем взаимосвязей здоровья, образа и целей жизни. Разработал аналитическую
                        методику оценки потенциала личности и событий «Формула Души», в основе которой лежит
                        авторская система толкований цепочек астрологических планетарных диспозиторов
                        по владению.</p>
                    <p>Автор 17 книг: «Формула Души», «Душа и карма», «Мистика Путина»,
                        «Энергетический вампиризм», «Исповедь болячки», «Книга чувств», «Кресты Зодиака»,
                        «Астрологическое учение о химических элементах», учебных альбомов «Астрология в схемах
                        и таблицах», «Сила Формулы Души» и др.</p>
                </div>
                <ul>
                    <li>Индивидуальные консультации по личным и деловым вопросам.</li>
                </ul>
                <div class="text">
                    <p>Очный приём, либо онлайн.</p>
                    <p>Стоимость консультации: <b>5 000 руб.</b></p>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Женя-->
<div class="plate-base">
    <div class="plate w100">
        <a id="klimantov"></a>
        <h1>Евгений Климантов</h1>
        <div class="plate-inner not-first">
            <div class="left w25">
                <img src="{{ url_for('static', filename='pic/contacts/klimantov.png') }}"/>
            </div>
            <div class="right w75 adm">
                <p>Астропсихолог</p>
                <div class="contacts">
                    <span class="no-img">+7 (982) 141-00-21</span>
                </div>
                <div class="contacts">
                    <span>
                        <a href="https://wa.me/79821410021" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/WhatsApp.png') }}"/>
                        </a>
                    </span>
                    <span>
                        <a href="https://t.me/Evgeny_GoodMan" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/Telegram.png') }}"/>
                        </a>
                    </span>
                </div>
                <div class="text">
                    <p>В 2021 году окончил школу русской астрологии «Волхвы» по направлениям
                        «Кармическая медицина», «Классическая астрология», «Формула Души».</p>
                    <p>В первую очередь я помогаю понять Свой Путь в жизни. Понять причины своих проблем,
                        неудач и как их устранить. Также понять причины своих болезней и способы их устранения.
                        Как жить в гармонии с собой. На консультации разберём даже те вопросы,
                        которые ещё не заданы.
                        И вы почувствуете, что мир изменился к лучшему, на душе стало светлее
                        и радостнее.</p>
                </div>
                <ul>
                    <li>Индивидуальные консультации по личным и деловым вопросам.</li>
                    <li>Консультации по выбору профессии.</li>
                    <li>Семейная психология.</li>
                    <li>Психология совместимости в коллективе.</li>
                </ul>
                <div class="text">
                    <p>Очный приём, либо онлайн.</p>
                    <p>Стоимость консультации: <b>3 000 руб.</b></p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}