{% extends "base.html" %}
{% block head %}
    {{ super() }}
<style>

</style>
{% endblock %}
{% block body %}
<h1>Космограмма и Формула Души — авторский метод Александра Астрогора</h1>
<form action="/card" method="get">
    <div>
        <span>Имя</span>
        <input type="text" name="fio"/>
    </div>
    <div>
        <span>Место рождения</span>
        <input type="text" name="city"/>
    </div>
    <div>
        <span>День</span>
        <input type="text" placeholder="01.01.2000" name="birthday"/>
    </div>
    <div>
        <span>Время</span>
        <input type="text" placeholder="11:00" name="birth_time"/>
    </div>
    <div>
        <input type="submit"/>
    </div>
</form>
{% endblock %}