{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="Keywords"
      content="вебинары, учебный, курс, обучение, занятия, формула, душа, души, астрогор, астрология, космограмма, планета, гороскоп, сила, метод, цепочка, диспозитор, владение, astrogor, astrology, astrological, soul, formula, planet, horoscope, method"/>

<style>
a.news {
    text-decoration: none;
    color: unset;
}
a.news:hover {
    color: unset;
}
a.news div.img {
    border-color: #D6D6D8;
}
a.news div.img:hover {
    border-color: #6E69EB;
}
</style>
{% endblock %}
{% block body %}

<!--Блок с цитатой-->
<div class="plate-base">
    <div class="plate w100 slogan">
        <div class="text"><p>Астрология — это Божественная мудрость, сотканная из Звёзд!</p></div>
        <div class="signature">Астрогор А.А.</div>
    </div>
</div>

<!--Блок с баннерами -->
<div class="plate-base">
    <div class="plate w50">
        <h1>Очные занятия</h1>
        <div class="img">
            <img src="{{ url_for('static', filename='pic/offline_photo.png') }}"/>
        </div>
        <div class="text-header">Очные занятия в Москве</div>
        <div class="text">
            <p>Идут очные занятия в&nbsp Москве. Ближайший курс — «Формула Души»,
                начало — 13 марта 2023.</p>
            <p>Занятия три раза в неделю по&nbsp;понедельникам,
                средам и пятницам. С 19:00 до 21:00.</p>
        </div>
        <div class="action">
            <a href="/edu#moscow">
                <button class="btn w50">Расписание</button>
            </a>
            <a href="/contacts#offline-edu">
                <button class="btn second w50">Записаться</button>
            </a>
        </div>
    </div>
    <div class="plate w50">
        <h1>Вышла новая книга</h1>
        <div class="img">
            <img src="{{ url_for('static', filename='pic/last_book.png') }}"/>
        </div>
        <div class="text-header">Кармическая медицина. Голова, мозг и ум, глаза и слух... под знаком Зодиака — Овен
        </div>
        <div class="text">
            <p>Вышла первая книга из новой серии. Первая из 12-ти: «Овен, голова, ум и мозг, зрение и слух, нос, зубы,
                физиогномика».</p>
            <p>Также доступны для изучения <a href="/books#chapters">отдельные главы</a> ещё не вышедших книг.</p>
        </div>
        <div class="action">
            <a href="https://www.ozon.ru/product/karmicheskaya-meditsina-golova-mozg-i-um-glaza-i-sluh-pod-znakom-zodiaka-oven-407617901/"
               target="_blank">
                <button class="btn w50">Купить на Ozon</button>
            </a>
            <a href="/books">
                <button class="btn second w50">Все книги</button>
            </a>
        </div>
    </div>
</div>

<!--Блок с новостями-->
<div class="plate-base">
    <div class="plate w100">
        <a href="/news">
            <button class="btn corner">Все новости</button>
        </a>
        <h1>Новости</h1>

        <div class="plate-inner">
            <div class="left w50">
                <a href="/news#009" class="news">
                    <div class="img">
                        <div class="text">
                            <p>19.09.2022</p>
                            <h4>Новая глава «Манна небесная и здоровье»</h4>
                            <p>Делимся новой главой для книги «Водолей» серии «Кармическая медицина»
                                Александра Астрогора.<br/> </p>
                        </div>
                        <div class="action">
                            <a href="/news#009">
                                <button class="btn">Подробнее</button>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w50 right">
                <a href="/news#007" class="news">
                    <div class="img">
                        <div class="text">
                            <p>21.07.2022</p>
                            <h4>Астрогор&nbsp;А.А. стал членом союза писателей Северной Америки</h4>
                            <p>Союз писателей Северной Америки принял Астрогора&nbsp;А.А. в&nbsp;свои ряды и&nbsp;
                                объявил лауреатом премии &laquo;Янтарный самородок&raquo;.</p>
                        </div>
                        <div class="action">
                            <a href="/news#007">
                                <button class="btn">Подробнее</button>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



{% include "blocks/astrogor.html" %}

<!--Блок с Формулой Души-->
<div class="plate-base">
    <div class="plate w100 dark">
        <div class="plate-inner">
            <div class="left w50">
                <h1>Формула души</h1>
                <div class="text">
                    <p>Формула души — это оптимальный путь развития человека, предначертанный ему небесными
                        телами в момент рождения, выраженный графически в астрологических символах.</p>
                    <p>Формула души — это схема уникального радиоприёмника: тела человека. Вибрации наших мыслей,
                        чувств и желаний, будут определять настрой импульсов и вибраций планет для нашего
                        приёмника. Формула души определяет точный диапазон настройки для каждого человека,
                        чтобы петь свою песню, играть свою роль.</p>
                </div>
                <div class="action">
                    <a href="/card">
                        <button class="btn">Рассчитать формулу</button>
                    </a>
                </div>
            </div>
            <div class="right w50">
                <img src="{{ url_for('static', filename='pic/fd.png') }}" class="w100"/>
            </div>
        </div>
    </div>
</div>

<!--Блок про обучение-->
<div class="plate-base">
    <div class="plate w100">
        <h1>Обучение</h1>
        <div class="plate-inner">
            <div class="w50">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/offline_education.png') }}" class="w100"/>
                </div>
                <div class="text">
                    <h4>Очное</h4>
                    <p>В зимнее время занятия проходят в Москве. Летом — на озере Светлояр.</p>
                </div>
            </div>
            <div class="right w50">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/online_education.png') }}" class="w100"/>
                </div>
                <div class="text">
                    <h4>Онлайн</h4>
                    <p>Записи занятий с очного обучения.</p>
                </div>
            </div>
        </div>
        <div class="action">
            <a href="/edu">
                <button class="btn">Подробнее</button>
            </a>
        </div>
    </div>
</div>

{% include "blocks/books.html" %}

<!--Блок Астрологам-->
<div class="plate-base">
    <div class="plate w100">
        <div class="plate-inner">
            <div class="left w30">
                <img src="{{ url_for('static', filename='pic/fd.png') }}" class="w100"/>
            </div>
            <div class="left w30">
                <img src="{{ url_for('static', filename='pic/transit.png') }}" class="w100"/>
            </div>
            <div class="right w30">
                <h1>Астрологам</h1>
                <div class="text">
                    <p>Удобные инструменты для расчёта Формулы Души, построения транзитов и полезные материалы
                        для работы и развития личных и профессиональных качеств.</p>
                </div>
                <div class="action">
                    <a href="/astro">
                        <button class="btn">Подробнее</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

{% include "blocks/soft.html" %}

{% include "blocks/others.html" %}

<!--Творчество наших друзей-->
<div class="plate-base">
    <div class="plate w100">
        <h1>Творчество наших друзей</h1>
        <div class="plate-inner">
            <div class="left w30">
                <div class="img plate-fixed-height350 w100">
                    <img src="{{ url_for('static', filename='pic/art/01.png') }}" class="w100"/>
                </div>
                <div class="text">
                    <h4>Подарок</h4>
                    <p>Портрет Астрогора А.А., 2016 г.</p>
                </div>
            </div>
            <div class="left w30">
                <div class="img plate-fixed-height350 w100">
                    <img src="{{ url_for('static', filename='pic/art/02.png') }}" class="w100"/>
                </div>
                <div class="text">
                    <h4>Нина Ежова</h4>
                    <p>Рисунок</p>
                </div>
            </div>
            <div class="w30">
                <div class="img plate-fixed-height350 w100">
                    <img src="{{ url_for('static', filename='pic/art/03.png') }}" class="w100"/>
                </div>
                <div class="text">
                    <h4>Святослав Клиндухов</h4>
                    <p>Скульптура</p>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <div class="img plate-fixed-height350 w100">
                    <img src="{{ url_for('static', filename='pic/art/04.png') }}" class="w100"/>
                </div>
                <div class="text">
                    <h4>Заслуж. художник РФ Людмила Кузнецова</h4>
                    <p>Рисунок, г. Пенза</p>
                </div>
            </div>
            <div class="left w30">
                <div class="img plate-fixed-height350 w100">
                    <img src="{{ url_for('static', filename='pic/art/05.png') }}" class="w100"/>
                </div>
                <div class="text">
                    <h4>Майя Никитенко</h4>
                    <p>Рисунок, г. Житомир</p>
                </div>
            </div>
            <div class="w30">
                <div class="img plate-fixed-height350 w100">
                    <img src="{{ url_for('static', filename='pic/art/06.png') }}" class="w100"/>
                </div>
                <div class="text">
                    <h4>Вячеслав Клиндухов</h4>
                    <p>Графика</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Блок про кармическую медицину-->
<div class="plate-base">
    <div class="plate w100 dark">
        <div class="plate-inner">
            <div class="left w50">
                <img src="{{ url_for('static', filename='pic/karma.png') }}" class="w100"/>
            </div>
            <div class="right w50">
                <h1>Кармическая медицина</h1>
                <div class="text">
                    <p>Кармическая медицина — новое учение о возникновении болезней. Это закон Кармы — закон
                        причин и следствий. Болезнь прячет в себе ваши мысли, эмоции, чувства и желания,
                        каждое из которых имеет своё уязвимое место в организме.</p>
                    <p>Вы узнаете о любой болезни с точки зрения Кармы, об энергетическом вампиризме,
                        о тайнах рождения и смерти, о перерождении и наследственных заболеваниях,
                        о кармических причинах детских болезней, о влиянии на наше здоровье параллельного мира,
                        как избежать всего этого шквала следствий, поняв причины.</p>
                </div>
                <div class="action">
                    <a href="/courses/karma">
                        <button class="btn">Подробнее</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "blocks/videos.html" %}

<!--Блок с фотографиями-->
<div class="plate-base">
    <div class="plate w100">
        <h1>Фотографии</h1>
        <div class="plate-inner">
            <div class="left w30">
                <img src="{{ url_for('static', filename='pic/photos/01.png') }}" class="w100"/>
            </div>
            <div class="left w30">
                <img src="{{ url_for('static', filename='pic/photos/02.png') }}" class="w100"/>
            </div>
            <div class="w30">
                <img src="{{ url_for('static', filename='pic/photos/03.png') }}" class="w100"/>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <img src="{{ url_for('static', filename='pic/photos/04.png') }}" class="w100"/>
            </div>
            <div class="left w30">
                <img src="{{ url_for('static', filename='pic/photos/05.png') }}" class="w100"/>
            </div>
            <div class="w30">
                <img src="{{ url_for('static', filename='pic/photos/06.png') }}" class="w100"/>
            </div>
        </div>
<!--        <div class="action">-->
<!--            <a href="/photos">-->
<!--                <button class="btn">Все фотографии</button>-->
<!--            </a>-->
<!--        </div>-->
    </div>
</div>

<!--Блок про летнюю школу на Светлояре-->
<div class="plate-base">
    <div class="plate w100 dark">
        <div class="plate-inner">
            <div class="left w50">
                <img src="{{ url_for('static', filename='pic/svetloyar.png') }}" class="w100"/>
                <div class="text">
                    <p>Адрес: 606755, Нижегородская область, Воскресенский район, деревня Шадрино,
                        ул. Фабричная, дом 15.</p>
                </div>
            </div>
            <div class="right w50">
                <h1>Летняя школа на Светлояре</h1>
                <div class="text">
                    <p>Проезд от Нижнего Новгорода на электричке (~1 час) до г. Семёнов
                        (родина Хохломской Росписи — возможны экскурсии), далее автобусом «Семёнов-Воскресенское»
                        или маршрутным такси 45 км до села Владимирское (озеро Светлояр)
                        и 5 км до д. Шадрино.</p>
                    <p>Астрогор или администратор встретят в селе Владимирское и довезут до места.
                        Размещение в гостиницу или в частный сектор. Если ехать самостоятельно по навигатору,
                        то в поиске укажите «Шадрино Воскресенский район»,
                        так как в Нижегородской области три Шадрино! :)</p>
                </div>
                <div class="action">
                    <a href="/edu#svetloyar">
                        <button class="btn">Подробнее</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Блок про звезду Астрогора-->
<div class="plate-base">
    <div class="plate w100">
        <div class="plate-inner">
            <div class="left w50">
                <h1>Звезда Астрогора</h1>
                <div class="text">
                    <p>На звёздном небе в созвездии Козерог 30.12.2012 появилась именная звезда «Звезда Астрогора».
                        Астрогор думал, что больше похож на астероид, который врывается в судьбы людей,
                        заставляя их думать и меняться, он зажигал их души, поднимал их головы к звёздам,
                        вселял надежду и уверенность, помогал им формировать стержень судьбы, показывал красоту
                        и значимость земного воплощения. Впрочем, он делает всё это и сейчас.</p>
                </div>
            </div>
            <div class="right w50">
                <img src="{{ url_for('static', filename='pic/zvezda.png') }}" class="w100"/>
            </div>
        </div>
    </div>
</div>


{% endblock %}