{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>

</style>
{% endblock %}
{% block body %}

<!--Блок с цитатой-->
<div class="plate-base">
    <div class="plate w100 slogan">
        <div class="text"><p>Астрология — это Божественная мудрость, сотканная из Звёзд!</p></div>
        <div class="signature">Астрогор А.А.</div>
    </div>
</div>

<!--Блок с новостями-->
<div class="plate-base">
    <div class="plate w100">
        <h1>Новости</h1>
        <div class="plate-inner">
            <div class="w50">
                <div class="img">
                    <div class="text">
                        <p>08.03.2022</p>
                        <h4>Новый сайт</h4>
                        <p>Мы обновили сайт! Теперь здесь гораздо больше информации,
                            а также появится новый инструмент для построения Формулы Души.</p>
                        <p>Ура!</p>
                    </div>
                </div>
            </div>
            <div class="right w50">
                <div class="img">
                    <div class="text">
                        <p>01.03.2022</p>
                        <h4>Статья «Монолог вакцины»</h4>
                        <p>Александр Астрогор, глава из книги «Кармическая медицина».<br/> <br/> </p>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="action">
            <a href="/news"><button class="btn">Все новости</button></a>
        </div>
    </div>
</div>

<!--Блок с новостями #2 -->
<div class="plate-base">
    <div class="plate w50">
        <h1>Планируемые курсы</h1>
        <div>
            <img src="{{ url_for('static', filename='pic/sf.png') }}"/>
        </div>
        <div class="text-header">Очный курс «Формула Души»</div>
        <div class="text">
            <p>21 февраля 2022 г. — 28 марта 2022 г.</p>
            <p>16 занятий, 3 раза в неделю с 19 до 21 часа.</p>
            <p>Москва, м. Краснопресненская.</p>
        </div>
        <div class="action">
            <button class="btn">Записаться на курс</button>
        </div>
    </div>
    <div class="plate w50">
        <h1>Вышла новая книга</h1>
        <div class="img">
            <img src="{{ url_for('static', filename='pic/last_book.png') }}"/>
        </div>
        <div class="text-header">Кармическая медицина. Голова, мозг и ум, глаза и слух... под знаком Зодиака — Овен
        </div>
        <div class="text">
            <p>Вышла первая книга из новой серии. Первая из 12-ти: «Овен, голова, ум и мозг, зрение и слух, нос, зубы,
                физиогномика».</p>
        </div>
        <div class="action">
            <a href="https://www.ozon.ru/product/karmicheskaya-meditsina-golova-mozg-i-um-glaza-i-sluh-pod-znakom-zodiaka-oven-407617901/" target="_blank">
                <button class="btn">Купить на Ozon</button>
            </a>
        </div>
    </div>
</div>

<!--Блок про Сан Саныча-->
<div class="plate-base">
    <div class="plate w100">
        <div class="plate-inner">
            <div class="left w25">
                <img src="{{ url_for('static', filename='pic/astrogor.png') }}"/>
                <div class="signature">Родился 28 декабря 1949 г. в Иркутске, проживает в Москве.</div>
            </div>
            <div class="right w75">
                <h1>Астрогор Александр Александрович</h1>
                <div class="text">
                    <p>Астролог и астропсихолог, целитель, исследователь.</p>
                    <p>По собственному определению: Человек, говорящий языком звёзд.</p>
                    <p>Руководитель Школы русской астрологии «Волхвы». Член Содружества Профессиональных Астрологов
                        России.</p>
                    <p>Начиная с первой половины 80-х гг стал известен как астролог-консультант,
                        исследователь взаимосвязей здоровья, образа и целей жизни.
                        Разработал аналитическую методику оценки потенциала личности и событий «Формула Души»,
                        в основе которой авторская система толкований цепочек астрологических планетарных
                        диспозиторов по владению.</p>
                    <p>Автор 17 книг.</p>
                </div>
                <div class="action">
                    <button class="btn">Записаться на консультацию</button>
                    <span class="caption right">Консультация 1 час — 5 000 руб.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Блок с Формулой Души-->
<div class="plate-base">
    <div class="plate w100 dark">
        <div class="plate-inner">
            <div class="left w50">
                <h1>Формула души</h1>
                <div class="text">
                    <p>Формула души — это оптимальный путь развития человека, предначертанный ему небесными
                        телами в момент рождения, выраженный графически в астрологических символах.</p>
                    <p>Формула души — это схема уникального радиоприёмника: тела человека. Вибрации наших мыслей,
                        чувств и желаний, будут определять настрой импульсов и вибраций планет для нашего
                        приёмника. Формула души определяет точный диапазон настройки для каждого человека,
                        чтобы петь свою песню, играть свою роль.</p>
                </div>
                <div class="action">
                    <a href="/card"><button class="btn">Рассчитать формулу</button></a>
                </div>
            </div>
            <div class="right w50">
                <img src="{{ url_for('static', filename='pic/fd.png') }}" class="w100"/>
            </div>
        </div>
    </div>
</div>

<!--Блок про обучение-->
<div class="plate-base">
    <div class="plate w100">
        <h1>Обучение</h1>
        <div class="plate-inner">
            <div class="w50">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/offline_education.png') }}" class="w100"/>
                </div>
                <div class="text">
                    <h4>Офлайн</h4>
                    <p>В зимнее время занятия проходят в Москве. Летом — на озере Светлояр.</p>
                </div>
            </div>
            <div class="right w50">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/online_education.png') }}" class="w100"/>
                </div>
                <div class="text">
                    <h4>Онлайн</h4>
                    <p>Записи занятий с офлайн-обучения.</p>
                </div>
            </div>
        </div>
        <div class="action">
            <a href="/education"><button class="btn">Подробнее</button></a>
        </div>
    </div>
</div>

<!--Блок про книги-->
<div class="plate-base">
    <div class="plate w100">
        <h1>Книги</h1>
        <p>Все эти книги есть в книжных магазинах, а также доступны для покупки в Интернете.</p>
        <div class="plate-inner">
            <div class="left w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/books/book1.png') }}"/>
                </div>
                <div class="text">
                    <h4>Формула души. Новейшая космическая психология</h4>
                </div>
            </div>
            <div class="left w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/books/book2.png') }}"/>
                </div>
                <div class="text">
                    <h4>Цветной альбом. Астрология в схемах и таблицах</h4>
                </div>
            </div>
            <div class="left w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/books/book3.png') }}"/>
                </div>
                <div class="text">
                    <h4>Ирония судьбы российских правителей</h4>
                </div>
            </div>
            <div class="w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/books/book4.png') }}"/>
                </div>
                <div class="text">
                    <h4>Кармическая медицина. Исповедь болячки</h4>
                </div>
            </div>
        </div>
        <div class="action">
            <a href="/books"><button class="btn">Все книги</button></a>
        </div>
    </div>
</div>

<!--Блок с видео-->
<div class="plate-base">
    <div class="plate w100">
        <h1>Видео</h1>
        <div class="plate-inner">
            <div class="left w30">
                <iframe src="https://player.vimeo.com/video/314354084" width="100%" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"></iframe>
            </div>
            <div class="left w30">
                <iframe src="https://player.vimeo.com/video/275211531" width="100%" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"></iframe>
            </div>
            <div class="w30">
                <iframe src="https://player.vimeo.com/video/280072759" width="100%" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"></iframe>
            </div>
        </div>
        <div class="action">
            <a href="/videos"><button class="btn">Все видео</button></a>
        </div>
    </div>
</div>

<!--Блок про кармическую медицину-->
<div class="plate-base">
    <div class="plate w100 dark">
        <div class="plate-inner">
            <div class="left w50">
                <h1>Кармическая медицина</h1>
                <div class="text">
                    <p>Кармическая медицина — новое учение о возникновении болезней. Это закон Кармы — закон
                        причин и следствий. Болезнь прячет в себе ваши мысли, эмоции, чувства и желания,
                        каждое из которых имеет своё уязвимое место в организме.</p>
                    <p>Вы узнаете о любой болезни с точки зрения Кармы, об энергетическом вампиризме,
                        о тайнах рождения и смерти, о перерождении и наследственных заболеваниях,
                        о кармических причинах детских болезней, о влиянии на наше здоровье параллельного мира,
                        как избежать всего этого шквала следствий, поняв причины.</p>
                </div>
                <div class="action">
                    <a href="/courses/karma"><button class="btn">Подробнее</button></a>
                </div>
            </div>
            <div class="right w50">
                <img src="{{ url_for('static', filename='pic/karma.png') }}" class="w100"/>
            </div>
        </div>
    </div>
</div>

<!--Блок с фотографиями-->
<div class="plate-base">
    <div class="plate w100">
        <h1>Фотографии</h1>
        <div class="plate-inner">
            <div class="left w30">
                <img src="{{ url_for('static', filename='pic/photos/01.png') }}" class="w100"/>
            </div>
            <div class="left w30">
                <img src="{{ url_for('static', filename='pic/photos/02.png') }}" class="w100"/>
            </div>
            <div class="w30">
                <img src="{{ url_for('static', filename='pic/photos/03.png') }}" class="w100"/>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <img src="{{ url_for('static', filename='pic/photos/04.png') }}" class="w100"/>
            </div>
            <div class="left w30">
                <img src="{{ url_for('static', filename='pic/photos/05.png') }}" class="w100"/>
            </div>
            <div class="w30">
                <img src="{{ url_for('static', filename='pic/photos/06.png') }}" class="w100"/>
            </div>
        </div>
        <div class="action">
            <a href="/photos"><button class="btn">Все фотографии</button></a>
        </div>
    </div>
</div>

<!--Блок про курсы-->
<div class="plate-base">
    <div class="plate w100">
        <h1>Офлайн обучение</h1>
        <div class="plate-inner">
            <div class="w25 inner-block">
                <div class="text-header">Формула души</div>
                <div class="label">Объём</div>
                <div class="text">16 занятий</div>
                <div class="label">Читает курс</div>
                <div class="text">Астрогор А.А.</div>
                <div class="action">
                    <a href="/courses/fd"><button class="btn">Подробнее</button></a>
                </div>
            </div>
            <div class="w25 inner-block">
                <div class="text-header">Классическая астрология</div>
                <div class="label">Объём</div>
                <div class="text">12 занятий</div>
                <div class="label">Читает курс</div>
                <div class="text">Астрогор А.А.</div>
                <div class="action">
                    <a href="/courses/astro"><button class="btn">Подробнее</button></a>
                </div>
            </div>
            <div class="w25 inner-block">
                <div class="text-header">Кармическая медицина</div>
                <div class="label">Объём</div>
                <div class="text">12 занятий</div>
                <div class="label">Читает курс</div>
                <div class="text">Астрогор А.А.</div>
                <div class="action">
                    <a href="/courses/karma"><button class="btn">Подробнее</button></a>
                </div>
            </div>
            <div class="w25 inner-block">
                <div class="text-header">Хиромантия</div>
                <div class="label">Объём</div>
                <div class="text">7 занятий</div>
                <div class="label">Читает курс</div>
                <div class="text">Астрогор А.А.</div>
                <div class="action">
                    <a href="/courses/palmistry"><button class="btn">Подробнее</button></a>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Дополнительные курсы и направления-->
<div class="plate-base">
    <div class="plate w100">
        <h1>Дополнительные курсы и направления</h1>
        <div class="plate-inner">
            <div class="left w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/others/zotova.png') }}"/>
                </div>
                <div class="text">
                    <h4>Светлана Зотова</h4>
                    <p>Авторская школа, Вебинары</p>
                </div>
            </div>
            <div class="left w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/others/drezvyannikov.png') }}"/>
                </div>
                <div class="text">
                    <p><h4>Сергей Дресвянников</h4></p>
                    <p>Авторские курсы «Формула Карьеры» и «Конкорд. Метрика»</p>
                </div>
            </div>
            <div class="left w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/others/shishkin.png') }}"/>
                </div>
                <div class="text">
                    <h4>Иван Шишкин</h4>
                    <p>Авторский метод МАК-терапии</p>
                </div>
            </div>
            <div class="w25">
                <div class="img">
                    <img src="{{ url_for('static', filename='pic/others/startseva.png') }}"/>
                </div>
                <div class="text">
                    <h4>Светлана Старцева</h4>
                    <p>Курс по методу «Формула Души» в г. Санкт-Петербурге</p>
                </div>
            </div>
        </div>
        <div class="action">
            <a href="/friends"><button class="btn">Подробнее</button></a>
        </div>
    </div>
</div>

<!--Блок про летнюю школу на Светлояре-->
<div class="plate-base">
    <div class="plate w100 dark">
        <div class="plate-inner">
            <div class="left w50">
                <img src="{{ url_for('static', filename='pic/svetloyar.png') }}" class="w100"/>
                <div class="text">
                    <p>Адрес: 606755, Нижегородская область, Воскресенский район, деревня Шадрино, ул. Фабричная, дом 15.</p>
<!--                    <p>Галина Ивановна: +7 (916) 147-9-147</p>-->
<!--                    <p>Александр Астрогор: +7 (977) 277-77-49</p>-->
                </div>
            </div>
            <div class="right w50">
                <h1>Летняя школа на Светлояре</h1>
                <div class="text">
                    <p>Проезд от Нижнего Новгорода на электричке (~1 час) до г. Семёнов
                        (родина Хохломской Росписи — возможны экскурсии), далее автобусом «Семёнов-Воскресенское»
                        или маршрутным такси 45 км до села Владимирское (озеро Светлояр)
                        и 5 км до д. Шадрино.</p>
                    <p>Астрогор или администратор встретят в селе Владимирское и довезут до места.
                        Размещение в гостиницу или в частный сектор. Если ехать самостоятельно по навигатору,
                        то в поиске укажите «Шадрино Воскресенский район»,
                        так как в Нижегородской области три Шадрино! :)</p>
                </div>
                <div class="action">
                    <a href="/courses/?"><button class="btn">Подробнее</button></a>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Блок про звезду Астрогора-->
<div class="plate-base">
    <div class="plate w100">
        <div class="plate-inner">
            <div class="left w50">
                <h1>Звезда Астрогора</h1>
                <div class="text">
                    <p>На звёздном небе в созвездии Козерог, 30.12.2012 появилась именная звезда «Звезда Астрогора».
                        Астрогор думал, что больше похож на астероид, который врывается в судьбы людей,
                        заставляя их думать и меняться, он зажигал их души, поднимал их головы к звёздам,
                        вселял надежду и уверенность, помогал им формировать стержень судьбы, показывал красоту
                        и значимость земного воплощения. Впрочем, он делает всё это и сейчас.</p>
                </div>
            </div>
            <div class="right w50">
                <img src="{{ url_for('static', filename='pic/zvezda.png') }}" class="w100"/>
            </div>
        </div>
    </div>
</div>


{% endblock %}