{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="Keywords" content="астрогор, астрология, обучение, душа"/>
<style>
img.pic {
    width: 128px;
}
.text-header, .inner-block .text-header {
    height: 40px;
}

@media (max-width: 1000px) {
    .disappearing {
        display: none;
    }
}
</style>
{% endblock %}
{% block body %}

<!--Блок с цитатой-->
<div class="plate-base">
    <div class="plate w100 slogan">
        <div class="text"><p>Звёзды не только склоняют, но и заставляют нас делать то, что Ими Предначертано.</p></div>
        <div class="signature">Астрогор А.А.</div>
    </div>
</div>

<!--Хлебные крошки-->
<div class="plate-base">
    <a id="offline"></a>
    <div class="bread-crumbs w100">
        <span><a href="/">Главная</a></span>
        <span class="separator"> / </span>
        <span>Новости</span>
    </div>
</div>

<!--Мастер-класс 9-10 апреля 2022 в Москве-->
<div class="plate-base">
    <a id="003"></a>
    <div class="plate w100">
        <h1>Мастер-класс 9–10 апреля 2022</h1>
        <div class="label">08.03.2022</div>

        <div class="plate-inner">
            <div class="left w75">
                <div class="text">
                    <p>В Москве 9–10 апреля у Зоопарка на м. Краснопресненская пройдёт
                                мастер-класс по Формуле Души.</p>
                    <p>Приглашаем всех, кто изучает или изучил Формулу Души.</p>
                </div>

                <div class="action">
                    <a href="/contacts#offline-edu">
                        <button class="btn">Записаться на мастер-класс</button>
                    </a>
                    <a href="/">
                        <button class="btn second">На Главную</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Новый сайт-->
<div class="plate-base">
    <a id="002"></a>
    <div class="plate w100">
        <h1>Новый сайт</h1>
        <div class="label">08.03.2022</div>

        <div class="plate-inner">
            <div class="left w75">
                <div class="text">
                    <p>Мы обновили сайт! Теперь у нас много новых разделов.</p>
                </div>
                <h4>Астрологам</h4>
                <div class="text">
                    <p>В разделе <a href="/astro">Астрологам</a> вы найдёте два онлайн-инструмента:
                        <a href="/card">построение Формулы Души</a>, <a href="/transit">построение транзитов</a>
                        натальной карты на конкретную дату. Также в этом разделе представлены
                        «<a href="/astro#downloads">Материалы для скачивания</a>» — знаменитые схемы и таблицы от Сан Саныча,
                        пустые бланки для построения космограмм и другие материалы. Там же <a href="/astro#soft">есть ссылки</a>
                        на сайты астрологических программ AstroFD и ZET.</p>
                </div>
            </div>
            <div class="right w25">
                <p><img src="{{ url_for('static', filename='pic/fd.png') }}"/></p>
            </div>
        </div>

        <div class="plate-inner not-first">
            <div class="left w25">
                <p><img src="{{ url_for('static', filename='pic/books/book1.png') }}"/></p>
            </div>
            <div class="right w75">
                <h4>Книги и видео</h4>
                <div class="text">
                    <p>Раздел «<a href="/books">Книги</a>» содержит информацию обо всех книгах, выпущенных Астрогором.
                        Мы не даём ссылок на покупку этих книг где-либо, но все они легко ищутся поиском в интернете.
                        Теперь вы можете на одной странице увидеть всё, что доступно к чтению.</p>
                </div>
                <div class="text">
                    <p>Мы собрали на <a href="/videos">одной странице</a> и все «Видео». Они разделены по тематикам:
                        Формула Души, астрология, кармическая медицина. Отдельно собраны презентации книг
                        и творческие встречи. Выложены записи с летней школы на озере Светлояр. Есть видео с передач
                        «Совет эксперта» и «Лабиринты жизни» телеканала «Семья». </p>
                </div>
            </div>
        </div>

        <div class="plate-inner not-first">
            <div class="left w75">
                <h4>Консультации, контакты и другие школы</h4>
                <div class="text">
                    <p>Больше информации про <a href="/others">наших друзей</a>, чьи школы
                        и авторские курсы мы рекомендуем.</p>
                </div>
                <div class="text">
                    <p>Появился раздел «<a href="/consultations">Консультации</a>», где можно записаться на консультацию
                        по любым вопросам к нашим экспертам.</p>
                </div>
                <div class="text">
                    <p>Отдельная <a href="/contacts">страничка с контактами</a> наших администраторов
                        очного и онлайн обучения.</p>
                </div>

                <h4>На Главной по-прежнему всё!</h4>
                <div class="text">
                    <p>И по-прежнему вся-вся информация на нашей <a href="/">Главной странице</a>.
                        Надеемся, что вам будет удобно и полезно!</p>
                </div>
            </div>
            <div class="right w25">
                <p><img src="{{ url_for('static', filename='pic/contacts/klimantov.png') }}"/></p>
            </div>
        </div>

        <div class="action">
            <a href="/">
                <button class="btn second">На Главную</button>
            </a>
        </div>
    </div>
</div>

<!--Глава из книги «Монолог Вакцины»-->
<div class="plate-base">
    <a id="001"></a>
    <div class="plate w100">
        <h1>Статья «Монолог вакцины»</h1>
        <div class="label">17.02.2022</div>

        <div class="plate-inner">
            <div class="left w75">
                <div class="text">
                    <p>Предлагаем ознакомиться с главой из книги «Кармическая медицина».</p>
                </div>
                <div class="contacts">
                    <span>
                        <a href="https://vk.com/wall95920566_3844" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/Vk.png') }}"/>
                        </a>
                    </span>
                </div>
                <div class="action">
                    <a href="{{ url_for('static', filename='pic/downloads/Monolog_Vaktsiny.docx') }}"
                       download="Monolog_Vaktsiny.docx">
                        <button class="btn">Скачать</button>
                    </a>
                    <a href="/">
                        <button class="btn second">На Главную</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}