{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="Keywords" content="астрогор, астрология, обучение, душа"/>
<style>
img.pic {
    width: 128px;
}
.text-header, .inner-block .text-header {
    height: 40px;
}

@media (max-width: 1000px) {
    .disappearing {
        display: none;
    }
}
</style>
{% endblock %}
{% block body %}

<!--Блок с цитатой-->
<div class="plate-base">
    <div class="plate w100 slogan">
        <div class="text"><p>Звёзды не только склоняют, но и заставляют нас делать то, что Ими Предначертано.</p></div>
        <div class="signature">Астрогор А.А.</div>
    </div>
</div>

<!--Хлебные крошки-->
<div class="plate-base">
    <a id="offline"></a>
    <div class="bread-crumbs w100">
        <span><a href="/">Главная</a></span>
        <span class="separator"> / </span>
        <span>Новости</span>
    </div>
</div>

<!--Завершился курс по Хиромантии в летней школе 31 июля 2022-->
<div class="plate-base">
    <a id="008"></a>
    <div class="plate w100">
        <h1>Завершился курс по&nbsp;Хиромантии в&nbsp;летней школе на&nbsp;озере Светлояр</h1>
        <div class="label">31.07.2022</div>

        <div class="plate-inner">
            <div class="w100">
                <div class="text">
                    <p>Курс проходил с&nbsp;28&nbsp;по&nbsp;31&nbsp;июля в&nbsp;формате интенсива
                        по&nbsp;две пары в&nbsp;день.</p>
                    <p>Подробно программа курса описана на&nbsp;<a href="/courses/palmistry">отдельной странице</a>.</p>
                    <p>Летняя школа&nbsp;&mdash; это отличная возможность совместить обучение и&nbsp;отдых,
                        провести время на&nbsp;природе, побывать в&nbsp;необычном полном легенд месте.</p>
                    <p>Следующий курс&nbsp;&mdash; &laquo;<a href="/courses/fd">Формула Души</a>&raquo;,
                        он начнётся в&nbsp;летней школе 6&nbsp;августа!</p>
                    <p>
                        <img src="{{ url_for('static', filename='pic/news_008.png') }}"/>
                    </p>
                </div>
                <div class="action">
                    <a href="/">
                        <button class="btn second">На Главную</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Сан Саныч — член союза писателей Северной Америки-->
<div class="plate-base">
    <a id="007"></a>
    <div class="plate w100">
        <h1>Астрогор&nbsp;А.А. стал членом союза писателей Северной Америки</h1>
        <div class="label">21.07.2022</div>

        <div class="plate-inner">
            <div class="left w50">
                <div class="text">
                    <p>Астрогор&nbsp;А.А. принят в <a href="http://spsa.info">союз писателей Северной Америки</a>.</p>
                    <p>Союз писателей Северной Америки (СПСА) создан и&nbsp;зарегистрирован в&nbsp;Канаде
                        30&nbsp;апреля 2003&nbsp;года. У&nbsp;истоков создания Союза стояли выдающиеся и&nbsp;известные
                        поэты, деятели литературы, искусства и&nbsp;культуры&nbsp;&mdash;
                        Римма Казакова, Евгений Евтушенко и&nbsp;Геннадий Норд.</p>
                    <p>Каждый год с&nbsp;целью популяризации русской литературы, русского искусства и&nbsp;русского
                        языка в&nbsp;мире Союз писателей Северной Америки проводит Премию &laquo;Янтарный
                        самородок&raquo;, и&nbsp;в&nbsp;этом году Астрогор&nbsp;А.А. стал её&nbsp;лауреатом,
                        получив диплом в&nbsp;номинации &laquo;Журналистика&raquo; за&nbsp;статьи &laquo;Шпоры
                        носят петухи&raquo; и&nbsp;&laquo;Исповедь болячки&raquo;.</p>
                    <p>Поздравляем Сан Саныча!</p>
                </div>
                <div class="action">
                    <a href="/">
                        <button class="btn second">На Главную</button>
                    </a>
                </div>
            </div>
            <div class="right w50">
                <img src="{{ url_for('static', filename='pic/news_007.png') }}"/>
            </div>
        </div>

    </div>
</div>

<!--Схема «Хиромантия и астрология»-->
<div class="plate-base">
    <a id="006"></a>
    <div class="plate w100">
        <h1>Схема «Хиромантия и астрология»</h1>
        <div class="label">16.04.2022</div>

        <div class="plate-inner">
            <div class="left w75">
                <div class="text">
                    <p>Астрогор А.А. подготовил ещё одну схему для альбома «Астрология в таблицах» —
                        про астрологию на руке.</p>
                    <p>Данная схема появится в следующем издании альбома.</p>
                    <p>Все подобные материалы мы публикуем
                        в <a href="/astro#downloads">специальном разделе</a> для астрологов.</p>
                </div>
                <div class="action">
                    <a href="{{ url_for('static', filename='pic/downloads/11.pdf') }}"
                       download="hand-color.pdf">
                        <button class="btn">Скачать</button>
                    </a>
                    <a href="/">
                        <button class="btn second">На Главную</button>
                    </a>
                </div>
            </div>
            <div class="right w25">
                <div class="img disappearing">
                    <img src="{{ url_for('static', filename='pic/downloads/11_small.png') }}"/></div>
            </div>
        </div>

    </div>
</div>

<!--Завершился очный курс по Формуле Души 28 марта 2022-->
<div class="plate-base">
    <a id="005"></a>
    <div class="plate w100">
        <h1>Завершился очный курс по Формуле Души</h1>
        <div class="label">28.03.2022</div>

        <div class="plate-inner">
            <div class="w75 left">
                <div class="text">
                    <p>Курс проходил с 21 февраля по 28 марта 2022, в 16-ти занятиях.</p>
                    <p>Подробно с программой курса можно ознакомиться
                        в <a href="/courses/fd">специальном разделе</a>.</p>
                    <p>Ещё несколько человек смогут применять метод Формулы Души!</p>
                </div>
                <div class="action">
                    <a href="/">
                        <button class="btn second">На Главную</button>
                    </a>
                </div>
            </div>
            <div class="right w25">
                <img src="{{ url_for('static', filename='pic/news_005.png') }}"/>
            </div>
        </div>

    </div>
</div>

<!--Отдельные главы из неопубликованных книг-->
<div class="plate-base">
    <a id="004"></a>
    <div class="plate w100">
        <h1>Главы из неопубликованных книг</h1>
        <div class="label">10.03.2022</div>

        <div class="plate-inner">
            <div class="left w75">
                <div class="text">
                    <p>На сайте в разделе «Книги» открыт новый подраздел — «Отдельные главы».
                        Там будут выкладываться фрагменты из ещё неопубликованных книг, которые только
                        готовятся к печати.</p>
                    <p>Уже сейчас можно ознакомиться с «Голосом Души» и «Откровением Инсульта»
                        из книг «Телец» и «Близнецы» серии «Кармическая медицина».</p>

                </div>
                <div class="action">
                    <a href="/books#chapters">
                        <button class="btn">Перейти и скачать</button>
                    </a>
                    <a href="/">
                        <button class="btn second">На Главную</button>
                    </a>
                </div>
            </div>
            <div class="right w25">
                <div class="img disappearing"><img src="{{ url_for('static', filename='pic/news_004.png') }}"/></div>
            </div>
        </div>

    </div>
</div>

<!--Мастер-класс 9-10 апреля 2022 в Москве-->
<div class="plate-base">
    <a id="003"></a>
    <div class="plate w100">
        <h1>Мастер-класс 9–10 апреля 2022</h1>
        <div class="label">08.03.2022</div>

        <div class="plate-inner">
            <div class="left w75">
                <div class="text">
                    <p>В Москве 9–10 апреля пройдёт мастер-класс по Формуле Души.
                        Разберём трудные формулы, посмотрим на аспекты.</p>
                    <p>Проводит мастер-класс Астрогор А.А. Стоимость участия — 3 000 руб.</p>
                    <p>Точный адрес: Москва, Волков пер, д. 4., Центр развития «Открытая реальность».
                        Станция м. Краснопресненская.</p>
                    <p>Приглашаем всех, кто изучает или изучил Формулу Души!</p>
                </div>

                <div class="action">
                    <a href="/contacts#offline-edu">
                        <button class="btn">Записаться</button>
                    </a>
                    <a href="/">
                        <button class="btn second">На Главную</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Новый сайт-->
<div class="plate-base">
    <a id="002"></a>
    <div class="plate w100">
        <h1>Новый сайт</h1>
        <div class="label">08.03.2022</div>

        <div class="plate-inner">
            <div class="left w75">
                <div class="text">
                    <p>Мы обновили сайт! Теперь у нас много новых разделов.</p>
                </div>
                <h4>Астрологам</h4>
                <div class="text">
                    <p>В разделе <a href="/astro">Астрологам</a> вы найдёте два онлайн-инструмента:
                        <a href="/card">построение Формулы Души</a>, <a href="/transit">построение транзитов</a>
                        натальной карты на конкретную дату. Также в этом разделе представлены
                        «<a href="/astro#downloads">Материалы для скачивания</a>» — знаменитые схемы и таблицы от Сан Саныча,
                        пустые бланки для построения космограмм и другие материалы. Там же <a href="/astro#soft">есть ссылки</a>
                        на сайты астрологических программ AstroFD и ZET.</p>
                </div>
            </div>
            <div class="right w25">
                <p><img src="{{ url_for('static', filename='pic/fd.png') }}"/></p>
            </div>
        </div>

        <div class="plate-inner not-first">
            <div class="left w25">
                <p><img src="{{ url_for('static', filename='pic/books/book1.png') }}"/></p>
            </div>
            <div class="right w75">
                <h4>Книги и видео</h4>
                <div class="text">
                    <p>Раздел «<a href="/books">Книги</a>» содержит информацию обо всех книгах, выпущенных Астрогором.
                        Мы не даём ссылок на покупку этих книг где-либо, но все они легко ищутся поиском в интернете.
                        Теперь вы можете на одной странице увидеть всё, что доступно к чтению.</p>
                </div>
                <div class="text">
                    <p>Мы собрали на <a href="/videos">одной странице</a> и все «Видео». Они разделены по тематикам:
                        Формула Души, астрология, кармическая медицина. Отдельно собраны презентации книг
                        и творческие встречи. Выложены записи с летней школы на озере Светлояр. Есть видео с передач
                        «Совет эксперта» и «Лабиринты жизни» телеканала «Семья». </p>
                </div>
            </div>
        </div>

        <div class="plate-inner not-first">
            <div class="left w75">
                <h4>Консультации, контакты и другие школы</h4>
                <div class="text">
                    <p>Больше информации про <a href="/others">наших друзей</a>, чьи школы
                        и авторские курсы мы рекомендуем.</p>
                </div>
                <div class="text">
                    <p>Появился раздел «<a href="/consultations">Консультации</a>», где можно записаться на консультацию
                        по любым вопросам к нашим экспертам.</p>
                </div>
                <div class="text">
                    <p>Отдельная <a href="/contacts">страничка с контактами</a> наших администраторов
                        очного и онлайн обучения.</p>
                </div>

                <h4>На Главной по-прежнему всё!</h4>
                <div class="text">
                    <p>И по-прежнему вся-вся информация на нашей <a href="/">Главной странице</a>.
                        Надеемся, что вам будет удобно и полезно!</p>
                </div>
            </div>
            <div class="right w25">
                <p><img src="{{ url_for('static', filename='pic/contacts/klimantov.png') }}"/></p>
            </div>
        </div>

        <div class="action">
            <a href="/">
                <button class="btn second">На Главную</button>
            </a>
        </div>
    </div>
</div>

<!--Глава из книги «Монолог Вакцины»-->
<div class="plate-base">
    <a id="001"></a>
    <div class="plate w100">
        <h1>Статья «Монолог вакцины»</h1>
        <div class="label">17.02.2022</div>

        <div class="plate-inner">
            <div class="left w75">
                <div class="text">
                    <p>Предлагаем ознакомиться с главой из ещё неопубликованной книги «Телец»
                        серии «Кармическая медицина».</p>
                </div>
                <div class="contacts">
                    <span>
                        <a href="https://vk.com/wall95920566_3844" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/Vk.png') }}"/>
                        </a>
                    </span>
                </div>
                <div class="action">
                    <a href="{{ url_for('static', filename='pic/downloads/Monolog_Vaktsiny.docx') }}"
                       download="Monolog_Vaktsiny.docx">
                        <button class="btn">Скачать</button>
                    </a>
                    <a href="/">
                        <button class="btn second">На Главную</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}