{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="Keywords" content="астрогор, астрология, обучение, душа, консультации"/>
<style>

</style>
{% endblock %}
{% block body %}

<!--Блок с цитатой-->
<div class="plate-base">
    <div class="plate w100 slogan">
        <div class="text"><p>Астрология — это музыка для души, свет для ума и праздник
            для сердца!</p></div>
        <div class="signature">Астрогор А.А.</div>
    </div>
</div>

<!--Хлебные крошки-->
<div class="plate-base">
    <div class="bread-crumbs w100">
        <span><a href="/">Главная</a></span>
        <span class="separator"> / </span>
        <span><a href="/edu">Обучение</a></span>
        <span class="separator"> / </span>
        <span>Рекомендуем</span>
    </div>
</div>

<!--Светлана Зотова-->
<div class="plate-base">
    <div class="plate w100">
        <a id="zotova"></a>
        <h1>Светлана Зотова</h1>
        <div class="plate-inner not-first">
            <div class="left w25">
                <img src="{{ url_for('static', filename='pic/others/zotova2.png') }}"/>
            </div>
            <div class="right w75 adm">
                <p>Астропсихолог, создатель авторского курса</p>
                <div class="text">
                    <p>Открыла свою авторскую школу, в которой может подготовить к экзаменам
                        по Формуле Души и другим курсам.</p>
                    <p>Создала авторский курс, который раскрывает, как использовать планетарные качества
                        для решения жизненных задач.</p>
                </div>
                <ul>
                    <li>
                        <a href="https://ludkin.justclick.ru/DIPLOM" rel="nofollow sponsored" target="_blank">
                            Подготовка к диплому</a>
                    </li>
                    <li>
                        <a href="https://ludkin.justclick.ru/magik" rel="nofollow sponsored" target="_blank">
                            Курс «Магия планет»</a>
                    </li>
                    <li>
                        <a href="https://ludkin.justclick.ru/zzdorovaya" rel="nofollow sponsored" target="_blank">
                            Курс «Здоровая женщина»</a>
                    </li>
                </ul>
                <div class="action">
                    <a href="https://ludkin.justclick.ru" rel="nofollow sponsored" target="_blank">
                        <button class="btn">На сайт Светланы</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Сергей Дресвянников-->
<div class="plate-base">
    <div class="plate w100">
        <a id="dresvyannikov"></a>
        <h1>Сергей Дресвянников</h1>
        <div class="plate-inner not-first">
            <div class="left w25">
                <img src="{{ url_for('static', filename='pic/others/drezvyannikov2.png') }}"/>
            </div>
            <div class="right w75 adm">
                <p>Астропсихолог, разработчик методов «Формула Карьеры» и «Конкорд. метрика»</p>
                <div class="contacts">
                    <span class="no-img">+7 (910) 394-05-99,</span>
                    <span class="no-img">dr@formula.careers</span>
                </div>
                <div class="contacts">
                    <span>
                        <a href="skype:socionic.pro?chat" rel="nofollow sponsored" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/Skype.png') }}"/>
                        </a>
                    </span>
                    <span>
                        <a href="https://vk.com/dresviannikov" rel="nofollow sponsored" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/Vk.png') }}"/>
                        </a>
                    </span>
                    <span>
                        <a href="https://www.youtube.com/channel/UCWK-JTkArshIM3k89lcDNEg" rel="nofollow sponsored"
                           target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/YouTube.png') }}"/>
                        </a>
                    </span>
                </div>
                <div class="text">
                    <p>Авторские курсы повышения квалификации для астропсихологов-консультантов,
                        применяющих «Формулу Души».</p>
                </div>
                <ul>
                    <li>Метод прогнозирования «Аспекты к Точке Жизни. Событийные ряды.
                        Быстрая Точка Жизни» (18 часов) </li>
                    <li>«Селена и Лилит. Верхний Зодиак или Созвездия на куспидах» (23.5 часов)</li>
                    <li>«Руны и Зодиак» (15 часов)</li>
                    <li>«12 тайн Зодиака. Информация из домов космограммы» (12 часов)</li>
                    <li>«Карта Личного Пространства. Планеты на местности. Релокация (карта переезда)» (20 часов)</li>
                    <li>«Формула Карьеры. Формула Силы и Счастья» (62 часа)</li>
                </ul>
                <div class="action">
                    <a href="https://formula.careers/contacts/" rel="nofollow sponsored" target="_blank">
                        <button class="btn">На сайт Сергея</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Иван Шишкин-->
<div class="plate-base">
    <div class="plate w100">
        <a id="shishkin"></a>
        <h1>Иван Шишкин</h1>
        <div class="plate-inner not-first">
            <div class="left w25">
                <img src="{{ url_for('static', filename='pic/others/shishkin2.png') }}"/>
            </div>
            <div class="right w75 adm">
                <p>Психолог, выпускник школы Астрогора</p>
                <div class="contacts">
                    <span class="no-img">+7 (926) 335-75-75,</span>
                    <span class="no-img">achernar999@gmail.com</span>
                </div>
                <div class="contacts">
                    <span>
                        <a href="https://wa.me/79263357575" rel="nofollow sponsored" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/WhatsApp.png') }}"/>
                        </a>
                    </span>
                </div>
                <div class="text">
                    <p>Преподавал метод «Формула души» в Институте Психотерапии и Клинической Психологии.</p>
                    <p>Разработал собственный метод МАК-терапии, в котором объединил астрологию и психотерапию.
                        Проводит семинары, консультации, обучение Формуле Души в Москве в группах и индивидуально.</p>
                </div>

            </div>
        </div>

    </div>
</div>

<!--Светлана Старцева -->
<div class="plate-base">
    <div class="plate w100">
        <a id="startseva"></a>
        <h1>Светлана Старцева</h1>
        <div class="plate-inner not-first">
            <div class="left w25">
                <img src="{{ url_for('static', filename='pic/others/startseva2.png') }}"/>
            </div>
            <div class="right w75 adm">
                <p>Ведущая курса по методу А.А. Астрогора «Формула Души» в г. Санкт-Петербурге</p>
                <div class="contacts">
                    <span class="no-img">+7 (962) 508-78-99</span>
                </div>
                <div class="contacts">
                    <span>
                        <a href="https://wa.me/79625087899" rel="nofollow sponsored" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/WhatsApp.png') }}"/>
                        </a>
                    </span>
                </div>

            </div>
        </div>

    </div>
</div>

<!--Katarina Stern-->
<div class="plate-base">
    <div class="plate w100">
        <a id="stern"></a>
        <h1>Katarina Stern</h1>
        <div class="plate-inner not-first">
            <div class="left w25">
                <img src="{{ url_for('static', filename='pic/others/stern2.png') }}"/>
            </div>
            <div class="right w75 adm">
                <p>Дипломированный астролог, хиромант, астропсихолог. Германия</p>
                <div class="contacts">
                    <span class="no-img">+49 (0) 177-608-73-68,</span>
                    <span class="no-img">info-kstarina@mail.ru</span>
                </div>
                <div class="contacts">
                    <span>
                        <a href="https://wa.me/4901776087368" rel="nofollow sponsored" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/WhatsApp.png') }}"/>
                        </a>
                    </span>
                </div>
                <div class="text">
                    <p>С тем, кто желает получить первоначальные навыки астролога, я охотно делюсь своими знаниями
                        и регулярно провожу Online курсы по программе А.Астрогора «Формула Души»
                        или «Новейшая космическая психология».</p>
                </div>
                <ul>
                    <li>Помогу раскрыть сильные и слабые качества вашего характера</li>
                    <li>Укажу, на что вы должны обратить внимание, заботясь о своём здоровье. Например,
                        какие дни будут благоприятными и противопоказаны при операциях</li>
                    <li>Подскажу, в каком виде спорта, в какой профессии вы добьетесь успеха</li>
                    <li>Посмотрю, какие дни будут благоприятны для поездок, заключения деловых договоров,
                        приобретения недвижимости</li>
                    <li>Опишу, какими качествами должен обладать ваш идеальный спутник жизни</li>
                    <li>Отвечу, при каких условия вы сможете создать семью, родить детей</li>
                </ul>
                <div class="text">
                    <p>Ваши дети — отдельная тема.</p>
                </div>
                <ul>
                    <li>С какой миссией пришёл в этот свет ваш ребёнок</li>
                    <li>В какой деятельности он сможет проявить себя наиболее полно</li>
                    <li>Какие таланты и стороны характера надо развивать</li>
                    <li>Какие методы воспитания будут для него эффективны</li>
                    <li>Какое время наиболее благоприятно для зачатия и рождения будущего ребёнка</li>
                </ul>
                <div class="text">
                    <p>Во время консультаций женщин, желающих иметь детей, я помогу определить оптимальные условия
                        и дни зачатия. Мои консультации помогли появиться на свет уже 17 малышам!</p>
                </div>
                <div class="action">
                    <a href="https://www.astroformula.de" rel="nofollow sponsored" target="_blank">
                        <button class="btn">На сайт Катарины</button>
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>

<!--Ирина Рекшинская-->
<div class="plate-base">
    <div class="plate w100">
        <a id="rekshinskya"></a>
        <h1>Ирина Рекшинская</h1>
        <div class="plate-inner not-first">
            <div class="left w25">
                <img src="{{ url_for('static', filename='pic/others/rekshinskaya.png') }}"/>
            </div>
            <div class="right w75 adm">
                <p>Астропсихолог, художник, инструктор нейрографики, создатель авторских запатентованных
                    методов АстроНейроХилинг и АстроНейрографика</p>
                <div class="contacts">
                    <span class="no-img">+7 (909) 290-85-88,</span>
                    <span class="no-img">info@astrolognn.com</span>
                </div>
                <div class="contacts">
                    <span>
                        <a href="https://wa.me/79092908588" rel="nofollow sponsored" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/WhatsApp.png') }}"/>
                        </a>
                    </span>
                    <span>
                        <a href="skype:irauran?chat" rel="nofollow sponsored" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/Skype.png') }}"/>
                        </a>
                    </span>
                    <span>
                        <a href="https://vk.me/mirindigo" rel="nofollow sponsored" target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/Vk.png') }}"/>
                        </a>
                    </span>
                    <span>
                        <a href="https://www.youtube.com/channel/UCTQxdQV1PUnnyw6KLnTffCw" rel="nofollow sponsored"
                           target="_blank">
                            <img src="{{ url_for('static', filename='pic/contacts/YouTube.png') }}"/>
                        </a>
                    </span>
                </div>
                <div class="text">
                    <p>Преподаватель курса «Формула Души» в г. Нижний Новгород.</p>
                </div>
                <div class="action">
                    <a href="https://astrolognn.com/" rel="nofollow sponsored" target="_blank">
                        <button class="btn">На сайт Ирины</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}