{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transit.css') }}" type="text/css"/>
{% endblock %}

{% block header %}
<!--<a href="/">Главная</a> ● <a href="/">Инструменты</a>-->
{% endblock %}

{% block body %}

<h1>Транзит космограммы на дату</h1>
<form action="/transit" method="get">
    <div class="form-header">Исходная дата</div>
    <div class="form-field">
        <label for="birthday">Дата</label>
        <input type="text" placeholder="01.01.2000 12:00" name="birthday" id="birthday" value="{{birthday}}" size="15"/>
    </div>
    <div class="form-field">
        <label for="city">Город</label><input type="text" name="city" id="city" value="{{city}}" size="15"/>
    </div>
    <div class="form-field">
        <label for="fio">Имя</label><input type="text" name="fio" id="fio" value="{{fio}}" size="15"/>
    </div>
    <div class="form-header">Транзит на дату</div>
    <div class="nav-buttons">
        <label></label>
        день<a href="{{prev_link}}" class="control">⬇</a><a href="{{next_link}}" class="control">⬆</a>
        <span class="spacer-h"></span>
        час <a href="{{prev_link_hour}}" class="control">⬇</a><a href="{{next_link_hour}}" class="control">⬆</a>
    </div>
    <div class="form-field">
        <label for="transit-day">Дата</label>
        <input type="text" placeholder="01.01.2000 12:00" name="transit-day" id="transit-day" value="{{transit_day}}" size="15"/>
    </div>
    <div class="form-field">
        <label for="city">Город</label><input type="text" name="current-city" id="current-city" value="{{current_city}}" size="15"/>
    </div>

    <div>
        <input type="submit" value="Построить!">
        <a href="/transit">Сбросить</a>
    </div>
</form>

<div class="download">
    <a href="{{download_link}}" download="{{out_file_name}}">PDF</a>
</div>

<div class="full-img">
    <img src="data:image/gif;base64,{{img_as_base64}}"/>
</div>

{% endblock %}