{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="Keywords" content="астрогор, астрология, обучение, душа, контакты, администратор"/>
<style>

</style>
{% endblock %}
{% block body %}

<!--Блок с цитатой-->
<div class="plate-base">
    <div class="plate w100 slogan">
        <div class="text"><p>То, что вы ищите, тоже ищет вас.</p></div>
        <div class="signature">Астрогор А.А.</div>
    </div>
</div>

<div class="plate-base">
    <div class="bread-crumbs w100">
        <span><a href="/new">Главная</a></span>
        <span class="separator"> / </span>
        <span><a href="/edu">Обучение</a></span>
        <span class="separator"> / </span>
        <span>Видео</span>
    </div>
</div>

<!--Формула Души-->
<div class="plate-base">
    <div class="plate w100">
        <a id="fd"></a>
        <h1>Формула Души</h1>
        <div class="plate-inner">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/BWsFaJG1qb8"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Александр Астрогор. Мастер-класс, Формула души</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/a9Nofhlsgk4"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Александр Астрогор. Мастер-класс, Формула Души и здоровье. Часть 1</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/WvMQsfZhSes"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Александр Астрогор. Мастер-класс, Формула Души и здоровье. Часть 2</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/9dhuyP0BMRg"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Тайна нисхождения души. Александр Астрогор</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/86TJcF0UgIc"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Александр Астрогор. Зодиакальная химия</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/BdAqdUUEEzo"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Формула души и женское счастье</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/QJBDiLk-iD4"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Формула души. Гостевая встреча</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/jB87HywX1sM"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>О Формуле души</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/tfVuqUrRrXE"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Формула души</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/oAdsEFtfj10"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Александр Астрогор о работе онлайн школы Формулы Души</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/oDzv4n1JrNo"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Совместимость в браке. Солнечные и Лунные типы людей. Запись вебинара от 22.05.2015г</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/aAlQJe5Be4M"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Совет от астролога Александра Астрогора — Как определить предназначение человека?</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/9u5oqR4mSMo"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Александр Астрогор, Формула Души, Урок 0</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/QTUGHVZw2fU"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Астрогор. О начале авторизованного обучения через интернет методу «Формула Души»</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/UegpOG-uDT8"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Фрагмент занятия по толкованию Формулы Души</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/1rNGTo5HzUc"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Курс астропсихологии «Формула души» Астрогора. 27.01.2013</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/Eg8Hh6B1VuY"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Дети Индиго А.Астрогор</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/_V7ywSs5flY"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>О новом курсе «Формула Души» — Астрогор Александр Александрович</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Астрология-->
<div class="plate-base">
    <div class="plate w100">
        <a id="astro"></a>
        <h1>Астрология</h1>
        <div class="plate-inner">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/2YMIo339jlE"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Астрогор. Что такое астрология, предсказание астролога Путину, Формула Души</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/Ov4Kj3lkb0c"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Прогноз на 2022 год. Астролог Александр Астрогор</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/u9rKbNdupR0"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Ирония судьбы правителей Руси. Часть 1</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/tGhxXXDN4Kk"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Вакуум в космограмме</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/oeHKvhn8Qnk"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Меркурий в центре Формулы Души. Некоторые особенности</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/4Dwy8ZXpGfk"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Вебинар 14.03.2015. Путешествие в мир Астрологии. Часть 6</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/oXFkGeP88dc"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Вебинар 14.03.2015. Путешествие в мир Астрологии. Часть 2</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/fcMSEjlT9AU"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Вебинар 14.03.2015. Путешествие в мир Астрологии. Часть 1</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/-Zty02k4Rho"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Вебинар 14.03.2015. Путешествие в мир Астрологии. Часть 3</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/m9lMZGbMUwQ"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Вебинар 14.03.2015. Путешествие в мир Астрологии. Часть 5</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/TqEU7a2FBYg"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Вебинар 14.03.2015. Путешествие в мир Астрологии. Часть 4</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/LAL81CpgsRw"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Астрология наука или ложь. Астропсихолог Иван Шишкин</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/Zuup-T5UUVY"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>ВШКА «День Астролога». А.Астрогор. Часть 2</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/9FfVDWs6C_U"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>ВШКА «День Астролога». А.Астрогор. Часть 1</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/OQ-lq1m_f5s"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Астрогор А.</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/0iRdSXmG7Y4"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Прогноз на 2021 год. Джули По и Астрогор</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/-u-i04-jboo"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Нумерология. Лабиринт. Ирония Судьбы российских правителей. Александр Астрогор</h4>
                </div>
            </div>
            <div class="w30">
                <iframe src="https://vk.com/video_ext.php?oid=95920566&id=456239034&hash=3099cef760899281&hd=2"
                        width="100%" height="180" allow="autoplay; encrypted-media;
                        fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
                <div class="text">
                    <h4>Отчёт с праздника Дня астролога, 2019</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/dYUzieLAjuY"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Код индиго. Часть 8. Интервью с Астрогором А.А.</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/8Q5GIUGdkmA"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Интервью с Астрогором</h4>
                </div>
            </div>
            <div class="w30">
                <iframe src="https://vk.com/video_ext.php?oid=36498597&id=456239457&hash=d5d06c0d1e534dd3&hd=2"
                        width="100%" height="180" allow="autoplay; encrypted-media;
                        fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
                <div class="text">
                    <h4>В кулуарах съезда. О крестах Зодиака</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/QkVvxOiefrE"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Нужно ли давать детям Астрологию. Ответ А.Астрогора</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/Kvn6gydxacg"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Астрология Корана. Астрогор Александр</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Кармическая медицина-->
<div class="plate-base">
    <div class="plate w100">
        <a id="karma"></a>
        <h1>Кармическая медицина</h1>
        <div class="plate-inner">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/Li5SLHqnpEg"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>А. Астрогор — как таблица Менделеева и созвездия могут предупредить болезни</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/V8mH_WmYNDw"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>А.Астрогор «Как быть здоровым»</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/-srWpI4Uy-8"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Как не стать мытарем при жизни и после неё</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/G7DDu1iueSk"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Энергетический вампиризм в семейных отношениях</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/M0g4CyQhbFA"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Кармическая медицина и химическая таблица элементов Менделеева</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/DFZZEcFNrtw"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Астрогор. Исповедь болячки. Глава 4. «Хлеб и молоко»</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/FLnZZYAywjc"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Астрогор. Исповедь болячки. Глава 1. «Проверка на вшивость»</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/nndzG3f79Sw"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Александр Астрогор «Сказка о Золотой Рыбке»</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/_cm5B7MLvMk"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Книга Чувств. Часть 2. «Животная или растительная»</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/gQyoX0pWA2A"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Астрогор Александр Александрович и Сварг Еремеев Андрей Дмитриевич</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe src="https://vk.com/video_ext.php?oid=95920566&id=456239096&hash=3a69b119a67edc8e&hd=2"
                        width="100%" height="180" allow="autoplay; encrypted-media;
                        fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
                <div class="text">
                    <h4>Часть выступления на съезде «День Целителя», Москва, 20.02.2021г.</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Презентации книг и творческие встречи-->
<div class="plate-base">
    <div class="plate w100">
        <a id="books"></a>
        <h1>Презентации книг и творческие встречи</h1>
        <div class="plate-inner">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/puptQt9Cpbc"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Астрологическое учение о химических элементах</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/KEHT6n6G890"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>«Кармическая астрология — Овен». Презентация новой книги</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/sgaNkdpUDxM"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Московская презентация книги «Ирония судьбы российских правителей» — Александр Астрогор</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/mfn46BRDbOs"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>10.11.2019 — Встреча с Александром Астрогором «Астрология для любознательных»</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/WrAb77lWISQ"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>21 июля 2019 года, творческая встреча Александра Астрогора «В поисках Души»</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/778YFZJ8574"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Интересная астрология — Открытая встреча с Александром Астрогором 9.06.2019 г.</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/M-nrz_hrWnk"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Выступление на фестивале-выставке «Здоровый образ жизни. Эко-мир»</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/AHfE6FAGmY8"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Встреча с Александром Астрогором «Кармическая медицина»</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/_NlnppTz4Fk"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Астрогор — звездочёт, маг и волшебник</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/9qfyCPoWBWg"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Презентация книги Александра Астрогора «Кармическая астрология — Овен»</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/DfT7IA7U7EE"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Встреча с Александром Астрогором «Новейшая космическая психология»</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/p30CWam81ZY"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Учебник «Формула Души» — презентация нового издания. Выступает автор, Александр Астрогор</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Светлояр-->
<div class="plate-base">
    <div class="plate w100">
        <a id="svetloyar"></a>
        <h1>Светлояр</h1>
        <div class="plate-inner">
            <div class="left w30">
                <iframe src="https://vk.com/video_ext.php?oid=-174843427&id=456239024&hash=fe42acdfe5b0b89b&hd=2"
                        width="100%" height="180" allow="autoplay; encrypted-media;
                        fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
                <div class="text">
                    <h4>Трогательные моменты на Светлояре</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/sY3b1UyEPTY"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Полёт над Светлояром — прекрасная летняя атмосфера</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/3-I26jZlVQg"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Светлояр — русское зазеркалье. Документальный фильм</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe src="https://vk.com/video_ext.php?oid=36498597&id=456239331&hash=073167c3c0b902ae&hd=2"
                        width="100%" height="180" allow="autoplay; encrypted-media;
                        fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
                <div class="text">
                    <h4>Вечер у костра</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Совет эксперта-->
<div class="plate-base">
    <div class="plate w100">
        <a id="expert"></a>
        <h1>Совет эксперта. Телеканал «Семья»</h1>
        <div class="plate-inner">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/lfQSQWKnZK0"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Питание и судьба</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/YDjzJOGQBsI"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Питание и судьба. Часть 2</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/qyp9aSfE1rg"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Питание и судьба. Часть 4</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/gmEikGcW3wA"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Питание и судьба. Часть 6</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/l9I8ehFloXg"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Питание и судьба. Часть 7</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/EJSgyPE0lek"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Питание и судьба. Часть 8</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/nuHWR3XfzhA"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Питание и судьба. Часть 9</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/eBwfDX-qYxA"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Питание и судьба. Часть 10</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Лабиринты жизни-->
<div class="plate-base">
    <div class="plate w100">
        <a id="labirint"></a>
        <h1>Лабиринты жизни. Телеканал «Семья»</h1>
        <div class="plate-inner">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/jI_4K1br9pE"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Астрология как наука</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/CInp82dAw2k"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Астрология и химия</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/25Xd42tMkzY"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Формула души</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/9r1u1NEp3n0"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Индиго</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/Pogw1xkN_JM"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Карма</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/rq8JkR6xd18"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Астрология брака</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/ebRSdyNyj-M"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Философия жизни</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/qb21VTbRfdA"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Мистическая история. Часть 1/</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/r-uobpB5tH0"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Мистическая история. Часть 2</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/InBBS--sa9E"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Мистическая история. Часть 3</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/Ktoz8ZoXNS8"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Судьба человека</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/Z4WGKwmHo0A"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Вампиризм</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Отзывы-->
<div class="plate-base">
    <div class="plate w100">
        <a id="reviews"></a>
        <h1>Отзывы</h1>
        <div class="plate-inner">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/nvo9TBcWZDc"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>«Формула Души» — защита диплома после онлайн обучения в школе Русской Астрологии Волхвы</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/xZvt_OCHCxk"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Максим, г. Киев — отзыв о Школе Русской Астрологии «Волхвы»</h4>
                </div>
            </div>
            <div class="w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/jAv2O6VEDqs"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Светлана, г. Архангельск — отзыв о курсе «Формула Карьеры»</h4>
                </div>
            </div>
        </div>
        <div class="plate-inner not-first">
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/iA8OEeNmHao"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Ирина Кузнецова, г. Архангельск — отзыв о курсе «Формула Карьеры»</h4>
                </div>
            </div>
            <div class="left w30">
                <iframe width="100%" height="180" src="https://www.youtube.com/embed/QcLmwh7ftsg"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="text">
                    <h4>Отзыв группы из Екатеринбурга о курсе «Формула Души»,
                        обучение в Летней Школе Александра Астрогора</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}